@model introduceDotnetCore.Models.UserResponse


<form asp-action="Davet" method="post">
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName"></span>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <input asp-for="RequestDate" />
    <button type="submit">Gönder</button>
</form>

