@model IEnumerable<Category>
<div class="list-group">
    @foreach (var category in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-catId="@category.Id" class="list-group-item list-group-item-action">@category.Name</a>
    }      
    
</div>