@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
    var counter = 0;
}

<div class="row m-2">
    @foreach (var product in Model)
    {
        if (counter != 0 && counter % 4 == 0)
        {
            @:</div>
            @:<div class="row m-2">
        }
        <div class="col-3">
            <partial name="_ProductSummary" model="product" />
        </div>
        counter++;
    }

</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
   
      @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
               <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageNo="@i" asp-route-catId="@ViewBag.ActiveCategory">@i</a></li>
              
        }
 
  
  
  </ul>
</nav>
@section Scripts{
    <script>
        $(document).ready(function(){
            $('.basket').on('click',function(){
                let id = $(this).data('id');
                $.ajax({
                    url: '/ShoppingCart/AddCart/'+id,
                    type:'GET',
                    success:function(data){
                        alert(data.message);
                    }

                });
            })
        });
    </script>
}
